@font-face {
    font-family: 'ungardnormal';
    src: url('ungard-webfont.eot');
    src: url('ungard-webfont.eot?#iefix') format('embedded-opentype'), url('ungard-webfont.woff') format('woff'), url('ungard-webfont.ttf') format('truetype'), url('ungard-webfont.svg#ungardnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('MyriadPro-Cond.otf') format("opentype");
}

.last {
    border: 0 !important;
}

body *:focus {
    outline: none;
}

img {
    border: none;
}

body {
    font-family: Arial, sans-serif;
    /*letter-spacing: 0px;*/
    font-size: 11pt;
}

.usual {
    float: left;
    position: relative;
}

.header {
    font-family: Verdana, Arial, sans-serif;
    position: relative;
    font-size: 12pt;
    min-width: 1024px;
    background-image: url("../images/header-bg.png");
}

.page-header {
    position: relative;
    height: 43px;
    width: 995px;
    margin: 0 auto;
}

.menu-active {
    background: url("../images/menu-selector.png") no-repeat center bottom;
    height: 35px !important;
}

.menu-active a {
    text-shadow: black 1px 1px 2px;
}

.page-header div {
    position: relative;
    float: left;
    height: 100%;
}

.page {
    background-color: #ededed;
    position: relative;
}

.nav {
    font-family: Arial, Verdana, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    left: 150px; /* logo.png*/
    font-size: 22px;
}

.nav div {
    position: relative;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.nav a {
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-top: 9px;
}

.nav a:active, .nav a:hover {
    text-shadow: black 1px 1px 2px;
}

.border {
    border-right: 1px solid white;
    height: 14px !important;
    margin-top: 15px !important;
    padding: 0 !important;
}

.logo {

    height: 37px !important;
    padding-top: 0;
    margin-left: 15px;
    border: 0;
}

.logo a {
    text-decoration: none;
    font-family: 'ungardnormal', Arial, sans-serif;
    font-size: 32pt;
    color: #ffffff;
    text-shadow: #000000 0px 0px 6px;
}

.login {
    position: absolute !important;
    /*width: 150px;*/
    font-size: 1em;
    right: 30px;
    color: #ffffff;
    text-decoration: none;

}

.login div {
    margin-right: 3px;
    margin-left: 3px;
}

.login a {
    /*display: inline-block;*/
    line-height: 43px ;
    /*margin-top: 13px;*/
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.login img {
    /*position: absolute ;display: block;*/
    /*width: 20px;*/
    /*bottom: 5px;*/

    margin-top: 10px;
    margin-right: 3px;
}

.content {
    position: relative;
    width: 995px;
    margin: 0 auto;
    background-color: #ededed;
}

.content-header {
    font-family: sans-serif;
    position: relative;
    background-image: url("../images/content-header.png");
    height: 43px;
    margin: 0 auto;


}

.content-header div {
    min-width: 170px;
    text-align: center;
    position: relative;
    float: left;
    font-size: 18pt;
    padding: 0 10px 0 10px;
    border-right: 1px solid #ffffff;
    height: 43px;
    line-height: 43px;
}

.content-header a {
    text-decoration: none;
    color: #575956;
}

.content-pre-header {
    position: relative;
    padding-top: 50px;
    height: 100px;
    width: 100%;
}

.content-header-active a {
    color: #C7290C;
}

.content-header-event {
    padding: 0 !important;
    position: absolute !important;
    line-height: 43px;
    right: 15px;
    bottom: 0;
    text-align: right !important;
}

.content-header-event div {
    color: #C7290C;
    padding: 0;
    text-align: right;
    /*width: 100px;*/
    font-size: 12pt;
    font-family: "Helvetica Neue";
    cursor: pointer;
}

.content-header-event img {
    /*padding: 0 3px 3px 3px;*/
    /*border: 1px solid red;*/

}

.content-page {
    width: 740px;
    height: 100%;
    margin-top: 20px;
    min-height: 300px;
}

.full-wide {
    width: 100% !important;
}

.content-right-sidebar {
    width: 250px;
    min-height: 600px;
    position: relative;
    right: 0;
    top: 7px;
    float: right;
    margin: 0 auto;
    margin-top: 15px;
}

.search-input {
    border: none;
    right: 50px;
    margin-left: 15px;
    padding-left: 12px;
    padding-bottom: 5px;
    width: 215px;
    height: 23px;

    background: url("../images/search-glass.png") 193px 6px no-repeat,  url("../images/serch-wrapp.png") no-repeat ;
    text-align: left;
    right: 0;
}

*+html .search-input {
    padding-left: 0;
    width: 245px;
}

*+html .search-text {
    width: 165px;
    font-size: 14px;
    margin: 0;
    /*padding-top: 3px;*/
    /*margin-bottom: 3px;*/
    display: block;
}

@media \0screen {
    .search-text {
        display: block;
        padding-top: 5px;
        background: transparent;

    }
}

.search-text {
    border: 0;
    top: 0;
    width: 173px;
    font-size: 14px;
    padding-top: 3px;
    display: block;
    /*margin: 0;*/
    background: transparent;
}

.search-submit {
    /*float: right;*/
    /*display: no;*/
    width: 17px;
    height: 17px;
    margin: 5px;
    padding: 0;
    border: 0;
    background: transparent;
    text-indent: -1000em;
    cursor: pointer;
}

.filter {
    /*position: inherit;*/
    /*padding-top: 10px;*/
    /*padding-left: 5px;*/
    color: #505050;
    text-align: left;
    font-size: 11pt;
}

.filter-caption {
    position: relative;
}

.filter-date,
.filter-location,
.filter-completed,
.filter-tags,
.filter-loaded-tags {
    margin-left: 10px;
    margin-top: 15px;
}

.filter-date {
    line-height: 30px;
    cursor: pointer;
}

.filter-location a,
.filter-date a {
    color: #C7290C;
    text-decoration: none;
}

.filter-loaded-tags {
    margin-left: 50px;
    width: 180px;
}

.filter-loaded-tags a {
    text-decoration: none;
    color: inherit;
}

.filter input {
    width: 20px;
    margin-right: 15px;
}

.filter img {
    margin-right: 15px;
    float: left;
    left: 0;
}

.content-footer {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: #C7290C;
    text-align: center;
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 730px;
    border-radius: 2px;
    border: 1px solid #b4b4b4;
    background-color: #ffffff;
    cursor: pointer;
}

.footer {

    font-family: Arial, Verdana, sans-serif;
    line-height: 1.5em;
    font-size: 12pt;
    border: 8px solid #d1ccba;
    position: relative;
    width: 955px;
    margin: 0 auto;
    height: 145px;
    bottom: 0;
    background-color: #a5977a;
    padding: 25px;
    padding-left: 0;
    color: #ffffff;
    margin-top: 30px;
}

.footer-menu {
    position: relative;
    width: 150px;
    height: 100%;
    float: left;
    margin-left: 50px;
    border-right: 1px solid #ffffff;
}

.footer-menu ul {
    font-family: Verdana;
    FONT-SIZE: 10pt;
    padding-left: 0;
    display: inline;
    list-style-position: inside;
    list-style-type: square;
}

.footer-menu a {
    text-decoration: underline;
    color: #ffffff;
}

.footer-menu span {
    font-family: Arial ;
    text-shadow:0px 1px 1px #000000 ;
    text-transform: uppercase;
    font-weight: bold;
}

.event-tab {
    position: relative;
    width: 240px;
    /*min-height: 430px;*/
    background-color: #ffffff;
    border: 1px solid #b2b2b2;
    padding-top: 12px;
    margin-bottom: 10px;
    /*margin: 1px;*/
    cursor: pointer;
}

.main-page-tab {
    margin-bottom: 25px;
    height: 297px;
}

.main-page-col3 {
    margin-right: 45px !important;

}

.main-event-tags {
    height: 30px ;
    line-height: 30px;
    overflow: hidden;
    padding:0 15px !important;
}
.main-content-popular-tags a,
.event-tags a {
    text-decoration: none;
    color: #505050;
    font-style: italic;
}

.filter-loaded-tags a:hover,
.main-content-popular-tags a:hover,
.event-tags a:hover {
    text-decoration: underline;
}


.event-tab div {
    position: relative;
    overflow: hidden;
}

.event-tab img {
    display: block;
    margin-left: 13px;

}

.img-event-date {
    position: absolute !important;
    top: 198px;

    left: 12px;
    width: 215px;
    color: #ffffff;
    text-shadow: #000000 2px -1px 1px;
    background: rgb(0, 0, 0); /*на случай, если следующая строка не сработает*/
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 18px;
}

*|html .img-event-date {
     left: 13px;
}

.event-caption {
    font-size: 28px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 14px;
    /*top: -17px;*/
    color: #505050;
    height: 60px;
    width: 226px;
    line-height: 60px;
}

.event-caption span{
    height: 60px;
    overflow: hidden;
}

.event-label {
    color: #505050;
    background-color: #f2f0f1;
    font-size: 16px;
    border-bottom: 1px solid #9c9c9c;
    border-top: 1px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
}

.event-location {
    color: #505050;
    background-color: #cecece;
    font-size: 22px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #efe8d8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
}

.event-location img {
    float: left;
    margin: 0;
    margin-right: 10px;
}

.event-tags {
    color: #505050;
    background-color: #fff1cc;
    font-size: 14px;
    border-bottom: 1px solid #414864;
    border-top: 1px solid #fffceb;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
}

.event-tags img {
    float: left;
    margin: 0;
    margin-right: 10px;
    margin-top: 2px;
}

.event-cat {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 1px solid #414864;
    border-top: 1px solid #fffceb;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    height: 18px;
}

.entertainment {
    background-color: #485ba8;
}

.business {
    background-color: #C7290C;
}

.special-offers {
    background-color: #76af68;
}

.main-content-block-image img {
    border: 5px solid #ffffff;
}

.main-content-block {
    position: relative;
    width: 295px;
    padding: 0;
    margin-right: 53px;
    margin-bottom: 24px;
    border-top: 1px solid #C7290C;
}

.main-content-block-time {
    position: absolute !important;
    top: 177px;
    right: 7px;
    width: 283px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    background: #000000;
    background: rgba(0,0,0,0.5);
    display: none;
}

.main-content-block-time:hover {

}

.last-in-row {
    margin-right: 0 !important;
}

.main-content-block div {
    position: relative;
    float: left;
}

.main-content-block-header {
    width: 295px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    background-color: #C7290C;
    font-size: 20px;
    border-top: 1px solid #ffffff;
    color: #ffffff;
}

.main-content-block-header hr {
    /*display: block;*/
    /*position: absolute;*/
    top: 0;
    margin: 0;
    background-color: #ffffff;
    border: none;
    height: 1px;
    width: 295px;
}

.main-content-block-footer {
    width: 295px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    background-color: #fff1cc;
    font-size: 20px;
    color: #5d5c57;
}

.main-content-block-image img {
    float: left;
}

.more-tags {
    text-decoration: none;
    color: #C7290C !important;
}

.main-content-popular-tags {

}

.right {
    text-align: right;
}

.form-input {
    border: 1px solid #777777;
    width: 320px;
    height: 18px;
    float: left;
    padding: 0;
    margin: 0;
}

.activity-search {
    position: absolute;
    right: -10px !important;
}

.activity-period {
    color: #656565;
    position: relative;
    float: left;
    height: 40px;
    /*padding-top: 20px;*/
    width: 100%;
    background-color: #ededed;

}

.activity-period-first {
    padding-top: 20px;
}

.padding-bottom-30 {
    padding-bottom: 40px;
}

.top {
    padding-top: 4px;
}

.activity-events-list {

    /*top: -20px;*/
}







.activity-event-item {
    min-height: 50px;
    width: 100%;
    border-top: 1px solid #ffffff !important;
    border-bottom: 1px solid #ffffff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: #f2f0f0;
    padding-bottom: 5px;
}

*+html .activity-event-item {
    width: 725px;
}

.hr {
    width: 100%;
    background-color: #cecece;
    height: 1px;
    border: none;
    margin: 0px;
    padding: 0px;
}

*+html .hr {
    width: 725px;
    background-color: #cecece;
    height: 1px;
}
.event-item-image{
    padding-top: 10px;
    padding-left: 10px;
    min-height: 50px;
    height: 100%;
    width: 40px;
    vertical-align: middle !important;

}

.event-item-image img {
    width: 40px;
    height: 40px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.activity-event-notification {
    font-size: 16px;
    color: #656565;
    padding-top: 10px;
    padding-left: 20px;
    width: 640px;
}

.activity-event-other {
    color: #656565;
    padding-left: 20px;
    width: 600px;
}

.activity-event-changes {
    color: #656565;
    font-size: 16px;
    margin-top: 4px;
    padding-top: 0;
    margin-left: 20px;
    padding-left: 5px;
    border-left: 1px solid #656565;
}

.activity-event-notification a {
    text-decoration: none;
}

.activity-event-link {
    color: #C7290C;
}

.activity-event-time {
    position: absolute;
    right: 3px;
    top: 10px;
    color: #575956;
    font-size: 11pt;
    font-style: italic;
}

.activity-user-link {
    color: #a99b4d;
}

.username-mid {
  font-size: 16pt;
}

.big-digit {

    color: #565656;
    font-size: 16pt;
}

.small-text {
    line-height: 16px;
    position: absolute;
    font-weight: bold;
    font-size: 8pt;
    color: #565656;
    margin: 0 !important;

}

.author  {
    border-bottom: 4px solid #c41e00;
}

.participant {
    border-bottom: 4px solid #ff9f00;
}

.user-info-right-sidebar {
    width: 230px !important;
    margin-top: 0 !important;
}

#user-info-left {
    /*float: left;*/
    /*text-align: center;*/
    height: 82px;
    padding: 0;
    margin: 0;
    padding: 20px 10px;
    margin-right: 5px;
    margin-top: 16px;
    width: 210px;
    top: -15px;


}
.grey {
    background-color: #dedddd;
}
.white {
    background-color: #ffffff;
}

#user-info-left div span,#user-info-left div a {
  margin-left: 20px;
  text-decoration: none;

}

#user-info-left  img {

    float: left;
}

.avatar {
    width: 80px;
    height: 80px;
}

#user-bar-left {
    float: left;
    width: 240px;
    top: 0;
    margin: 0;
}

.filter-draft {
    /*position: relative;*/
    /*float: left;*/
    padding-top: 15px;
    padding-left: 0;
    margin: 0;
}

.filter-draft  div {
    /*float: left;*/
    position: relative;
    font-size: 11pt;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 30px;
    color: #808080;
    text-align: left;
}

.filter-draft div img {
    position: relative;
    top: 7px;
    /*float: left;*/
    left: -3px;
    margin-right: 12px;
}

.filter-draft div input {
    position: relative;
    top: 2px;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 0;
    /*float: left;*/
}

.filter-draft a {
    color: #C7290C;
    cursor: pointer;
}

.caption {
    font-size: 12pt;
    color: #565656 !important;
}

.events-draft {
    position: relative;
    float: left;
    width: 570px;
}

.left {
    /*margin: 0 0 10px !important;*/
}

.wide {
    width: 730px !important;
}

.draft-page {
    width: 990px !important;
}

.draft-event-title, .draft-event-text, .draft-event-time {
    position: relative;
    float: left;
    text-align: left;
    width: 645px !important;
    height: 13px !important;
    font-size: 12px !important;
    color: #494949;
    margin-top: 2px !important;
    padding: 0 !important;
    padding-left: 5px !important;
}

.draft-event-text {
    color: #777777;
    font-size: 10px !important;
}

.draft-event-time {
    font-size: 8px !important;
    color: #a3a3a3;
}

.draft-events-show-more {
    height: 35px !important;
    padding-top: 10px !important;
    background-color: #ffffff !important;
    text-transform: uppercase;
    font-size: 22px;
    float: left;
    color: #C7290C;
    border-radius: 2px;
    margin-bottom: 5px;
    border: 1px solid transparent !important;
    cursor: pointer;
    text-align: center;
    bottom: 0;
}

.event-caption-input {
    font-size: 22px;
    width: 590px;
}

.event-date-input {
    width: 67px;
    text-align: center;
}

.event-category-input {
    margin-left: 2px;
}

.e-type {
    left: 0;
    width: 100%;
    position: relative;
    float: left;
}

.event-text-input {
    width: 500px;
    height: 200px;
    margin-top: 10px;
}

.e-text {
    float: left;
    padding-top: 15px;
}

.e-participants, .e-comments {
    float: left;
    position: relative;
    width: 500px;
}

.event-places-input {
    text-align: right;
    width: 50px;
    margin-top: 15px;
}

.e-participants fieldset, .e-comments fieldset, .e-type fieldset {
    color: #696969;
    display: block;
    position: relative;
    left: 0;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border: 0;
    width: 500px;
}

.e-participants fieldset input, .e-comments fieldset input, .e-type fieldset input {
    margin-top: 10px;
}

.e-participants legend, .e-comments legend, .e-type legend {
    font-size: 18px;
    color: #000000;
}

#event-create-form {
    margin-bottom: 100px;
    padding: 10px;
    padding-left: 0;
    width: 500px;
    float: left;
    text-align: center;
}

#event-create-form input {
    font-size: 22px;
    color: #C7290C;
    cursor: pointer;
}

.content-page-caption {
    margin-bottom: 15px;
}

.event-more-b1 {
    position: relative;
    float: left;
}

.event-more-b2 {
    float: left;
    width: 400px;
    position: relative;
    padding-left: 5px;
}

.event-more-b2 div {
    color: #696969;
    margin: 10px;
    margin-top: 0 !important;
    padding-top: 2px !important;
    position: relative;
}

.event-more-b2 img {
    top: -2px;
    position: relative;
    float: left;
    margin-right: 10px;
}

.event-more-join {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#e-text {
    width: 95%;
    padding-top: 15px;
    color: #5c5c5c;
}

#e-location input,
#e-site input,
#e-category select {
    width: 300px;
}

#e-caption {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}

.event-edit-button a {
    text-decoration: none;
    position: absolute;
    right: 40px;
    top: 0;
    color: #C7290C;
    font-size: 14px !important;
}

.share {
    padding-top: 15px;
    float: left;
    left: 0;
    width: 100%;
    color: #5c5c5c;
}

#content-all-comments {
    width: 100%;
}

.coment-list-wrapper {
    background-color: #ffffff;
    width: 720px;
}

.comment-header {
    font-style: italic;
    font-size: 10pt;
}
.comment-control {
    display: none;
    color: #a9a9a9 ;
    font-size: 8pt;
    position: absolute;
    right: 15px;
    top: 0px;
}

.comment-control a {
    color: #a9a9a9 !important;
}

.comment-wrapper {
    border-bottom: 1px solid #a9a9a9;
    width: 100%;
    padding-top: 10px;

}

.comment-wrapper div {
    padding: 0;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.content-comments-header {
    width: 97%;
    font-size: 17pt;
    margin: 10px 0px 10px 0;
}

.comment-notification-link {
    position: relative;
    float: right;
    display: block;
    text-decoration: underline !important;
    font-size: 12pt;
    right: 0;
    top: 5px;
    text-align: right !important;
}

#content-comments-list {
    padding: 0;
    margin: 0;

}

#content-comments-list div a {
    color: #a99b4d;
    text-decoration: none;

}

#content-all-comments ol {
    list-style: none;
    font-size: 10pt;
}

#content-all-comments .content-comments-datetime {
    font-size: 8pt;
    color: #a9a9a9;
}

#content-all-comments span {
    color: #696969;
}

#content-all-comments a {
    /*text-decoration: underline;*/
    color: #696969;
}

.new-comment {

    width: 720px;
    text-align: right;
}
.new-comment textarea{
    word-wrap: break-word;
    border: none;
    /*border: 1px solid #d3d3d3;*/
    width: 710px;
    overflow: hidden;
    resize: none;
    height: 70px;
    padding: 5px;
    margin: 0;
    margin-top: 5px;
}

.new-comment input[type='submit']{
    outline: none;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 30px;
    margin-top: 5px;
}

.event-invite {
    width: 300px;
    font-size: 16pt;
    color: #C7290C !important;
    padding-left: 35px;
}

.event-invite a {
    font-size: 16pt;
    color: #C7290C;
    text-decoration: none;
    cursor: pointer;
}

.event-invite sup {
    font-weight: bold;
}

#content-all-comments .content-comments-header a {
    text-decoration: none;
    color: #808080;
}

#user-bar {
    position: relative;
    float: left;
    right: 0;
    width: 260px;
    height: 120px;
    background-color: #ffffff;
    margin-bottom: 5px;
}

#user-bar img {
    margin: 20px;
    margin-left: 15px;
    float: left;
}

#user-info div {

}

#user-info {
    height: 82px;
    padding: 0;
    margin: 0;
    padding: 20px 10px;
    margin-right: 5px;
    margin-top: 16px;
    width: 210px;
    top: -15px;
    background-color: #ffffff;
}



.user-name {
    color: #a99b4d;
    font-size: 22px;
}

.user-activity {
    color: #a9a9a9;
    font-size: 16px;
}

.user-actcount {
    color: #000000;
    font-size: 16px;
}

#user-events, #user-all-events {
    position: relative;
    float: left;
    right: 0;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px;
}

#user-events div, #user-all-events div {
    position: relative;
    float: left;
    width: 250px;
    padding: 0;
    height: 52px;
    background-color: #dedddd;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #d1d0d0;
    cursor: pointer;
}

#user-events div div, #user-all-events div div {
    float: left !important;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    border: 0;
    height: 20px;
    position: relative;
    background: none;
    width: 190px;
    margin-top: 4px;
}

#user-events div img, #user-all-events div img {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 2px;
}

.user-events-caption, .user-events-show-more {
    height: 35px !important;
    padding-top: 10px !important;
    background-color: #ffffff !important;
    font-size: 15pt;
}

.user-events-caption {
    color: #797979;
    cursor: default !important;

}

.margin-b5 {
    margin-bottom: 5px;
}

.user-events-show-more {
    height: 35px !important;
    padding-top: 10px !important;
    background-color: #ffffff !important;
    float: left;
    color: #C7290C;
    margin-top: 0;
    margin-bottom: 5px;
    border: 0 !important;
    cursor: pointer;
    text-align: center;
}

.user-event-title {
    text-align: center;
    font-size: 1.1em !important;
    font-weight: bold;
    color: #797979;
}

.user-event-time {
    font-size: 12px !important;
    color: #797979;
}

.float-red-select {
    color: #C7290C;
    border: 0;
    background: transparent;
    width: auto;
}

.event-owner-selects-wrapper {
    margin-top: 15px;
    color: #C7290C;
}

.event-owner-selects-wrapper>div {
    /*margin-right: 15px;*/
    position: relative;
    width: 155px;
    margin-right: 10px;
    overflow: hidden;
}

.event-owner-select {
    width: 100px;
    border: none;
    background: #ededed;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.profile-main-description {
    width: 350px;
    font-size: 12px;
}

.profile-main-more {
    height: 22px;
    width: 50px;
    padding-top: 6px !important;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    float: left;
    color: #C7290C;
    margin-left: 15px;
    border-radius: 2px;
    margin-bottom: 5px;
    border: 0 !important;
    cursor: pointer;
    text-align: center;
}

.profile-main-data {
    width: 650px;
    margin-left: 5px;
}

.profile-main-count {
    width: 400px;
}

.profile-main-count div {
    width: 75px;
}

.first-event-counter {
    /*border-bottom: 3px solid #C7290C;*/
    display: inline;
    font-size: 18pt;
    margin-left: 3px;

    /*width: 80px;*/
    height: 25px;
}



.second-event-counter {
    height: 25px;
    display: inline;
    /*border-bottom: 3px solid orange;*/
    font-size: 18pt;
    margin-left: 3px;
}

.profile-site-link {
    display: block;
    float: left;
    text-decoration: none;
    color: #808080;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.quest-form-header {
    background-color: #ffffff;
    width: 100%;
}

.quest-form-header img {

}

#close-form {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

*+html #close-form {
    position: relative;
    float: left;
    margin-left: 420px;
}

.quest-form-header-item {
    text-align: center;
    font-size: 18px;
    height: 30px;
    padding-top: 15px;
    padding-right: 25px;
    margin-right: 15px;
    padding-left: 10px;
    border-right: 1px solid #565656;
}

.quest-form-header-item a {
    text-decoration: none;
    color: #000000;
}

.quest-active a {
    color: #C7290C;
}

.quest-form-filter-wrapper {
    width: 280px;
}

.quest-form-filter {
    font-size: 13pt;
    height: 100%;
    width: 360px;
    color: #494949;
    padding-left: 10px;
    margin-right: 25px;
}

*+html  .quest-form-contact-list {
    border: 1px solid #808080;
}

@media \0screen {
    .quest-form-contact-list {
        border: 1px solid #808080;
    }
}

.quest-form-filter-top {
    font-size: 10pt;
}

.send-input {
    margin-top: 15px;
}

.quest-form-filter fieldset {
    border: 0;
    padding: 5px;
    margin: 5px;
}

.quest-page {
    width: 100% !important;
    background-color: #ededed;
    padding-top: 20px;
    margin-top: 0 !important;
}

.quest-form-list {
    width: 690px;
    margin-bottom: 5px;
}

.thin {
    width: auto !important;
}

.quest-form-list-item {
    width: 100%;
    height: 47px;
    padding-top: 5px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cecece;
    background-color: #ececec;
}

.quest-form-list-item img {
    margin-left: 5px;
    width: 40px;
    height: 40px;

}

.q-second {
    background-color: #f2f0f0;
}

.quest-form-list-item div {
    padding-top: 10px;
}

.quest-form-list-item-username {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 15px;
}

.quest-form-list-item-status {
    color: #808080;
    width: 400px;
    font-size: 18px;
    text-align: center;
}

.quest-form-list-item-cross {
    width: auto !important;
    height: auto !important;
    display: block;
    position: absolute;
    margin-top: 15px;
    right: 10px;
    cursor: pointer;
}

.quest-form-contact-list {
    height: 450px;
    overflow: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 360px;
}

.quest-form-invite-list {
    height: 667px;
    overflow: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 570px;
}

.quest-form-invite-text {
    width: 360px;
}

.quest-form-invite-text textarea {
    resize: none;
    width: 353px;
    height: 198px;
    margin-bottom: 5px;
}

.quest-form-change {
    position: absolute;
    right: 20px;
    bottom: 0;
    border-radius: 25px 25px 0 0;
    width: 120px;
    height: 18px;
    padding-top: 5px;
    background-color: #C7290C;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}

.quest-form-change span {
    right: 20px;
}

.quest-form-invite-text-header {
    height: 25px;
    width: 100%;
    font-size: 11pt;

}

.bottom0 {
    position: absolute;
    bottom: 0;
}

.site-slogan {
    width: 100%;
    height: 80px;

}

.site-slogan-text {
    height: 80px;
    font-size: 26pt;
    padding-left: 30px;
    padding-top: 5px;
    margin-right: 150px;
    color: #a99b4d;
    font-family: 'ungardnormal', Arial, sans-serif;
}

.main-eventplus-button {
    text-align: center;
    width: 100px;
    padding: 15px;

    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid transparent;
}

.site-slogan-signature {
    left: 0;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    font-family: 'ungardnormal', Arial, sans-serif;
}

.form-input-add-button {
    background: url("../images/3arrows.png") no-repeat center;
    background-color: white;
    width: 30px;
    height: 18px;
    border: 1px solid #494949;
    margin-left: 4px;
    cursor: pointer;
}

.form-input-add-button:hover {
    background-color: #f2f0f0;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
}

.quest-form-invited {
    width: 570px;
    height: 690px;
}

.form-user-already-button {
    color: #C7290C;
}

.form-user-invite-button:hover {
    color: #76af68;
    cursor: pointer;
}

.form-user-invite-block {
    position: absolute;
    right: 10px;
    font-size: 9pt;
    text-align: right;
    width: 170px;
    padding-top: 15px !important;
    font-style: italic;
}

.margin0 {
    margin: 0 !important;
}

#datepicker {
    background: transparent;
    border: 0;

}

#now,
#datepicker,
#storedtime,
.event-start-time,
.event-end-time {
    display: none;
}

.slide-menu {
    display: none;
    position: absolute;
    width: 320px;

    top: 0;
    right: 0;
    height: 140px;
    background: #8a7a55;

    border-radius: 0 0 5px 5px;
    box-shadow: -2px 10px 7px rgba(0, 0, 0, 0.5);

}

.slide-menu input[type="submit"]{
    margin-left: 60px;
}

#login {
    cursor: pointer;
}

.slide-menu div {
    position: relative;
    float: right;
    padding: 10px;
    color: #ffffff;
    text-align: right;
}

.slide-menu input {
    border-radius: 5px;
}

.ava-icon {
    /*display: block;*/
    position: relative;
    float: left;
    /*right: 0;*/
    margin-top: 5px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.user-menu {

    /*margin: 0 auto;*/
    height: auto;
    width: 115px;
    padding-right: 5px;
    right: 20px;
    top: 0;
}

.user-menu a {
    text-decoration: none;
    cursor: pointer;
}

.user-menu div{
    /*margin: 0 auto;*/
    padding-left: 30px;
}

.user-menu a:hover {
    text-shadow: black 1px 1px 2px;
}

#quest {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../images/formbg.png");
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    /*height: inherit;*/
    padding-top: 50px;
}

*|html .shadow-border {
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
}

.reg-inputs {
    width: 440px;
    margin: 20px auto;
    /*border: 1px solid red;*/
    padding: 30px;
    background: #ffffff;
}

.reg-inputs h2 {
    margin: 10px 0;
}

.reg-inputs>input {
    border-radius: 5px;
    font-size: 1.3em;
    height: 1.5em;
    margin:15px 10px 15px 0;
    width: 195px;
    padding-left: 7px;

}

.reg-inputs * {

    color: #696969;
}

#email  {
    width: 420px;
}

#terms>div {
    width: 290px;

}

#terms {
    position: relative;
}

#terms input[type='submit'] {
    height: 50px;
    width: 100px;
    position: absolute;
    right: 15px;
    top: 0;
}

.center-text {
    text-align: center;
    color: #797979;
    font-size: 1em;
}

.active-events {
    color: #C7290C;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 10px;
}

.main-content-marg {
    /*padding-right: 200px !important;*/
    width: 836px !important;
}



.main-show-more {
    border: 1px solid #b2b2b2 !important;
    color: #797979;
    font-size: 2em;
    margin-top: 21px ;
    height:635px !important;
    width: 120px;
    /*margin-right: 35px;*/
    line-height: 640px;
    float: right;
}

.main-show-more:hover,
.main-eventplus-button:hover,
.event-tab:hover,
.draft-events-show-more:hover{
    border: 1px solid #8a7a55 !important;
}

.page-col3 {
    width: 240px;
    margin-right: 10px;

}

.top-white-arrow {
    padding-top: 10px;
}

.down {
    padding: 0 !important;
    padding-bottom: 10px !important;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.owner-select>img {
    position: absolute;
    top: 9px;
    right: 12px;
    /*background: url("../images/list-black-arrow.png") 50px  no-repeat;*/
    /*z-index: -1;*/
}

.empty-a, .empty-a *{
    /*border: 0px !important;*/
    text-decoration: none;
}

.events-wrp {
    height: 180px;
}

.hilited:hover .event-caption,
.hilited:hover .event-cat,
.hilited:hover img{
    background: #dedddd;
    color: #505050;
}

